<!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">

          <!-- Right -->
          <div class="navbar-nav nav-flex-icons">
            <a href="/" class="nav-link border border-light justify-content-end rounded waves-effect"
              >
              <i class="fas fa-user mr-2"></i>Déconnexion
            </a>
          </div>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

      <a class="logo-wrapper waves-effect">
        <img src="/assets/img/ebooff.jpeg" class="img-fluid" alt="" style="width:80px; height:100px">
        <!--h2>e-admin</h2-->
      </a>

      <div class="list-group list-group-flush">
        <a href="index.html" class="list-group-item active waves-effect">
          <i class="fas fa-chart-pie mr-3"></i>Tableau de Bord
        </a>
        <a href="commande.html" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-money-bill-alt mr-3"></i>Commandes</a>
        <a href="livraison.html" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-map mr-3"></i>Livraison</a>
        <a href="restaurant.html" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-table mr-3"></i>Restaurant</a>
        <a href="utilisateur.html" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>Utilisateur</a>


      </div>

    </div>
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->
